html {
    height: 100%;

}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 14px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    position: relative;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    overflow: hidden;


}

/* Меню с skew сохраняется */
.menu {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu>li {
    position: relative;
    background: #34495e;
    opacity: 0.9;
    transform: skewX(25deg);
    margin: 0 4px;
    transition: background 0.2s;
    float: left;
}

.menu>li>a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 1em 2em;
    transform: skewX(-25deg);
}

.menu>li:hover {
    background: #ffdd10;
    color: #2d3033;
}

/* Подменю */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    background: #34495e;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    list-style: none;
    z-index: 10;
}

.menu>li:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu li {
    width: 100%;
    background-color: inherit;
}

.submenu>li>a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 1em 2em;
}

.menu>li:hover .submenu li:nth-child(even) {
    transform: skewX(25deg) translateX(15px);
}

.menu>li:hover .submenu li:nth-child(odd) {
    transform: skewX(-25deg) translateX(-15px);
}

/* Хедер */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;

}

.header__logo {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}


/* Contacts */
.contacts {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(Images/yellow-tools-frame-with-copy-space.png) no-repeat center / cover;
}

.contacts__inner {
    max-width: 960px;
    margin: 0 100px;
    margin-top: 150px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    border-bottom: 2px solid #fff;

}

.contacts__title {
    margin: 0;
    font-size: 40px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts__text {
    margin-bottom: 50px;
    font-size: 18px;
    color: #fff;
    line-height: 1.1;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;

}

/* Social */

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__icon {
    fill: #fff;
}




/* Footer
===================*/

.footer {
    background-color: #2d3033;
}

.footer__inner {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 25%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}



/* Copyright
===================*/

.copyright {
    padding: 20px 0;
    background-color: #333;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}





/* Media */

@media (max-width: 1300px) {

    /* Works */
    .works__item {
        width: 50%;
    }
}

@media (max-width: 991px) {


    /* Intro */
    .intro__title {
        font-size: 40px;
    }
}

@media (max-width: 767px) {

    /* Intro */
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;

        font-size: 16px;
    }


    /* Works */
    .works__item {
        width: 100%;
        height: 300px;
    }

}






@media (max-width: 414px) {

    /* Reviews */
    .reviews__img {
        right: -100px;
    }
}