html, body {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #fff;
    background-color: #fff;
    position: relative;
    /* note: color и background-color на белом фоне — цвет #fff делает текст невидимым, возможно, стоит поправить */
}

/* Универсальная модель коробки */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Сброс отступов для заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Очистка float */
.cf::before, .cf::after {
    content: "";
    display: table;
}
.cf::after {
    clear: both;
}
.cf {
    zoom: 1; /* для IE6/7 */
}

/* Контейнер */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    width: 100%;
}

/* Меню */
.menu {
    list-style: none;
    margin: 50px;
    width: fit-content;
    padding: 0;
}
.menu > li {
    position: relative; /* Нужно для абсолютного подменю */
    float: left;
    background: #34495e;
    opacity: 0.9;
    transform: skewX(25deg);
}
.menu > li > a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 1em 2em;
    transform: skewX(-25deg);
}
.menu > li:hover {
    background: #ffdd10;
}

/* Подменю */
.submenu {
    position: absolute;
    top: 100%; /* Показывать под меню */
    left: 0; /* Начинать слева у родителя */
    width: 200%; /* На всю ширину родителя */
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    background: #34495e;
    list-style: none;
    
}

.submenu li {
    float: left;
    width: 100%; /* или конкретную ширину, если нужно */
    background-color: inherit;
    transform: none;
}
.submenu > li > a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 1em 2em;
}
/* неявные nth-child стили объединил с общими классами для оптимизации */
.submenu > li:nth-child(odd) {
    transform: none;
}

.submenu > li:nth-child(odd) > a {
    transform: none;
}

.submenu > li:nth-child(even) {
    transform: none;
}

.submenu > li:nth-child(even) > a {
    transform: none;
}

.menu > li:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.menu > li:hover .submenu li:nth-child(even) {
    transform: skewX(25deg) translateX(15px);
}
.menu > li:hover .submenu li:nth-child(odd) {
    transform: skewX(-25deg) translateX(-15px);
}

/* Хедер */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
}
.header__logo {
    font-size: 25px;
}

/* Intro */
.intro {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(Images/yellow-tools-frame-with-copy-space.png) no-repeat center / cover;
}
.intro__inner {
    max-width: 960px;
    margin: 150px 100px 0;
    text-align: center;
    border-bottom: 2px solid #fff;
}
.intro__title {
    font-size: 40px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.intro__subtitle {
    margin-bottom: 50px;
    font-size: 18px;
    color: #fff;
    line-height: 1.1;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Marquee */
.marquee-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.marquee {
    font-size: 50px;
    line-height: 1.1;
    padding: 18px 0;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}
.marquee::after {
    content: "Наши контакты: Андрей +7(991)110-2402 , Константин +7(989)579-5811";
}

@keyframes marquee {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50%); }
}

/* Кнопка "Наверх" */
.footer-up {
    position: fixed;
    top: 90%;
    left: 90%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    border: 5px solid rgba(255,255,255,0.9);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
.footer-ics {
    width: 70px;
    height: 50px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
}
.footer-ics::before,
.footer-ics::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-left: 8px solid #2d3033;
    border-bottom: 8px solid #3d3033;
    animation: animate 4s linear infinite;
}
.footer-ics::after {
    animation-delay: -2s;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(18px) rotate(135deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0) rotate(135deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-18px) rotate(135deg);
    }
}

/* Секции */
.section__header {
    max-width: 1200px;
    margin: 0 auto 50px;
    text-align: center;
}
.section__title {
    font-size: 40px;
    padding: 25px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}
.section__subtitle {
    font-size: 18px;
    color: #333;
}

/* Работы */
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.works__item, .works__item1 {
    font-family: inherit;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: opacity 0.2s linear;
}
.works__item {
    width: 33.3333%;
    height: 300px;
}
.works__item1 {
    width: 50%;
    height: 400px;
}
.works__item:hover .works__content,
.works__item1:hover .works__content {
    opacity: 0.9;
}
.works__photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}
.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.9);
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.works__title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.works__text {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

/* Преимущества */
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.features__header {
    max-width: 1100px;
    margin: 0 auto 50px;
    text-align: center;
}
.features__item {
    width: 50%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;
}
.features__icon {
    margin-bottom: 25px;
}
.features__subtitle {
    padding: 25px;
    font-size: 40px;
    color: #333;
}
.features__title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}
.features__text {
    font-size: 18px;
    line-height: 1.5;
    color: #2d3033;
    font-weight: 700;
}

/* Footer */
.footer {
    background-color: #2d3033;
}
.footer__inner {
    font-family: inherit;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}
.footer__block {
    width: 25%;
    padding: 0 15px;
    text-align: center;
}
.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
}

/* Copyright */
.copyright {
    padding: 20px 0;
    background-color: #333;
    text-align: center;
}
.copyright__text {
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}
.copyright__text span {
    color: #fff;
}

/* Адаптивность */
@media (max-width: 1300px) {
    .works__item {
        width: 50%;
    }
}
@media (max-width: 991px
